In [4]:
import pandas as pd

In [5]:
player_data = pd.read_csv('data/People.csv')

In [6]:
def get_playerid(last_name, first_name=None):
    if first_name:
        playerid = player_data.loc[(player_data['nameLast'] == last_name) & (player_data['nameFirst'] == first_name)]['playerID']
    else:
        playerid = player_data.loc[(player_data['nameLast'] == last_name)]['playerID']
    return playerid

In [7]:
appearance_data = pd.read_csv('data/Appearances.csv')

In [8]:
k = get_playerid('Jansen', 'Kenley')
appearance_data.loc[appearance_data['playerID'].isin(k)]

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
93399,2010,LAN,NL,janseke01,26,0.0,26,25.0,25,0,...,0,0,0,0,0,0,0,0.0,1.0,0.0
94771,2011,LAN,NL,janseke01,51,0.0,48,51.0,51,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
96176,2012,LAN,NL,janseke01,65,0.0,64,65.0,65,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
97589,2013,LAN,NL,janseke01,75,0.0,70,75.0,75,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
98999,2014,LAN,NL,janseke01,68,0.0,64,68.0,68,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
100461,2015,LAN,NL,janseke01,54,0.0,51,54.0,54,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
101931,2016,LAN,NL,janseke01,72,0.0,68,72.0,72,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
103434,2017,LAN,NL,janseke01,65,0.0,59,65.0,65,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
104943,2018,LAN,NL,janseke01,69,0.0,65,69.0,69,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
106499,2019,LAN,NL,janseke01,62,0.0,59,62.0,62,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0

In [14]:
k

8731    janseke01
Name: playerID, dtype: object

In [21]:
fielding_data = pd.read_csv('data/Fielding.csv')

True in (fielding_data.loc[fielding_data['playerID'].isin(k)]['POS'] == 'P').values

True

In [10]:
pitching_data = pd.read_csv('data/Pitching.csv')
pitching_data_recent = pitching_data[pitching_data['yearID'] >= 2000]

In [11]:
player_data.loc[(player_data['nameLast'] == 'Sale')]

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
15679,salech01,1989.0,3.0,30.0,USA,FL,Lakeland,NaN,NaN,NaN,...,Sale,Christopher,180.0,78.0,L,L,2010-08-06,2019-08-13,salec001,salech01
15680,salefr01,1902.0,5.0,2.0,USA,SC,Chester,1956.0,5.0,27.0,...,Sale,Frederick Link,160.0,69.0,R,R,1924-06-30,1924-06-30,salef101,salefr01

In [22]:
k = get_playerid('Sale')
pitching_data.loc[pitching_data['playerID'].isin(k)]

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
7585,salefr01,1924,1,PIT,NL,0,0,1,0,0,...,NaN,0,0.0,0,4.0,1,0,NaN,NaN,NaN
40293,salech01,2010,1,CHA,AL,2,1,21,0,0,...,0.0,1,0.0,0,92.0,8,5,1.0,0.0,3.0
40995,salech01,2011,1,CHA,AL,2,2,58,0,0,...,3.0,2,2.0,0,288.0,17,22,3.0,0.0,5.0
41723,salech01,2012,1,CHA,AL,17,8,30,29,1,...,5.0,6,6.0,0,772.0,0,66,1.0,3.0,20.0
42457,salech01,2013,1,CHA,AL,11,14,30,30,4,...,2.0,8,14.0,1,866.0,0,81,2.0,4.0,17.0
43190,salech01,2014,1,CHA,AL,12,4,26,26,2,...,2.0,3,11.0,0,685.0,0,48,2.0,3.0,13.0
44003,salech01,2015,1,CHA,AL,13,11,31,31,1,...,0.0,7,13.0,0,854.0,0,88,2.0,3.0,13.0
44808,salech01,2016,1,CHA,AL,17,10,32,32,6,...,2.0,2,17.0,0,907.0,0,88,5.0,3.0,16.0
45634,salech01,2017,1,BOS,AL,17,8,32,32,1,...,0.0,3,8.0,0,851.0,0,73,2.0,4.0,11.0
46518,salech01,2018,1,BOS,AL,12,4,27,27,0,...,0.0,4,14.0,0,617.0,0,39,0.0,4.0,4.0
47428,salech01,2019,1,BOS,AL,6,11,25,25,1,...,0.0,2,13.0,0,612.0,0,80,2.0,4.0,7.0

In [34]:
batting_data = pd.read_csv('data/Batting.csv')
k = get_playerid('Betts')
batting_data.loc[batting_data['playerID'].isin(k)]

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
8998,bettsha01,1903,1,SLN,NL,1,3,0,0,0,...,0.0,0.0,NaN,0,0.0,NaN,0.0,0.0,NaN,NaN
13864,bettsha01,1913,1,CIN,NL,1,1,0,0,0,...,0.0,0.0,NaN,0,0.0,NaN,0.0,0.0,NaN,NaN
18177,bettshu01,1920,1,PHI,NL,27,25,2,2,0,...,0.0,0.0,0.0,2,8.0,NaN,0.0,0.0,NaN,NaN
18693,bettshu01,1921,1,PHI,NL,32,30,2,8,1,...,0.0,0.0,0.0,1,8.0,NaN,0.0,0.0,NaN,NaN
19214,bettshu01,1922,1,PHI,NL,7,4,1,0,0,...,0.0,0.0,0.0,1,1.0,NaN,0.0,0.0,NaN,NaN
19737,bettshu01,1923,1,PHI,NL,20,31,0,3,0,...,0.0,0.0,0.0,0,7.0,NaN,0.0,1.0,NaN,NaN
20265,bettshu01,1924,1,PHI,NL,38,45,7,7,0,...,2.0,0.0,0.0,4,8.0,NaN,0.0,6.0,NaN,NaN
20813,bettshu01,1925,1,PHI,NL,37,34,5,10,2,...,6.0,0.0,0.0,3,4.0,NaN,0.0,0.0,NaN,NaN
24533,bettshu01,1932,1,BSN,NL,31,79,5,19,0,...,3.0,0.0,NaN,3,7.0,NaN,0.0,1.0,NaN,NaN
25052,bettshu01,1933,1,BSN,NL,35,76,3,17,1,...,5.0,0.0,NaN,2,7.0,NaN,1.0,9.0,NaN,1.0
25546,bettshu01,1934,1,BSN,NL,40,69,3,13,1,...,2.0,0.0,NaN,6,8.0,NaN,0.0,6.0,NaN,1.0
26063,bettshu01,1935,1,BSN,NL,44,44,1,7,0,...,1.0,0.0,NaN,3,5.0,NaN,1.0,2.0,NaN,1.0
98537,bettsmo01,2014,1,BOS,AL,52,189,34,55,12,...,18.0,7.0,3.0,21,31.0,0.0,2.0,1.0,0.0,2.0
99976,bettsmo01,2015,1,BOS,AL,145,597,92,174,42,...,77.0,21.0,6.0,46,82.0,1.0,2.0,3.0,6.0,2.0
101457,bettsmo01,2016,1,BOS,AL,158,672,122,214,42,...,113.0,26.0,4.0,49,80.0,1.0,2.0,0.0,7.0,12.0
102952,bettsmo01,2017,1,BOS,AL,153,628,101,166,46,...,102.0,26.0,3.0,77,79.0,9.0,2.0,0.0,5.0,9.0
104453,bettsmo01,2018,1,BOS,AL,136,520,129,180,47,...,80.0,30.0,6.0,81,91.0,8.0,8.0,0.0,5.0,5.0
106000,bettsmo01,2019,1,BOS,AL,150,597,135,176,40,...,80.0,16.0,3.0,97,101.0,6.0,3.0,0.0,9.0,11.0

In [28]:
salary_data = pd.read_csv('data/Salaries.csv')
k = get_playerid('Molina')
salary_data.loc[salary_data['playerID'].isin(k)]

       yearID teamID lgID   playerID    salary
9041     1996    OAK   AL  moliniz01    109000
9969     1997    OAK   AL  moliniz01    152000
10948    1998    OAK   AL  moliniz01    175000
11279    1999    ANA   AL  molinbe01    200000
11480    1999    CHN   NL  molinjo01    200000
12280    2000    ANA   AL  molinbe01    210000
12458    2000    CHN   NL  molinjo01    205000
13113    2001    ANA   AL  molinbe01    350000
13973    2002    ANA   AL  molinbe01    350000
14816    2003    ANA   AL  molinbe01   1425000
14817    2003    ANA   AL  molinjo01    320000
15648    2004    ANA   AL  molinbe01   2025000
15649    2004    ANA   AL  molinjo01    335000
16839    2005    LAA   AL  molinbe01   3000000
16840    2005    LAA   AL  molinjo01    725000
17167    2005    SLN   NL  molinya01    323500
17665    2006    LAA   AL  molinjo01    850000
17985    2006    SLN   NL  molinya01    400000
18071    2006    TOR   AL  molinbe01   4500000
18241    2007    CHA   AL  molingu01    380000
18497    2007    LAA   AL  molinjo01   1350000
18806    2007    SFN   NL  molinbe01   4000000
18832    2007    SLN   NL  molinya01    525000
19454    2008    NYA   AL  molinjo01   1875000
19648    2008    SFN   NL  molinbe01   6250000
19683    2008    SLN   NL  molinya01   1812500
20278    2009    NYA   AL  molinjo01   2125000
20469    2009    SFN   NL  molinbe01   6500000
20498    2009    SLN   NL  molinya01   3312500
21296    2010    SFN   NL  molinbe01   4500000
21328    2010    SLN   NL  molinya01   4312500
21413    2010    TOR   AL  molinjo01    800000
21939    2011    NYA   AL  molingu01    455000
22168    2011    SLN   NL  molinya01   5312500
22252    2011    TOR   AL  molinjo01   1200000
23021    2012    SLN   NL  molinya01   7000000
23045    2012    TBA   AL  molinjo01   1500000
23839    2013    SLN   NL  molinya01  14200000
23860    2013    TBA   AL  molinjo01   1500000
24644    2014    SLN   NL  molinya01  15000000
24670    2014    TBA   AL  molinjo01   1750000
25452    2015    SLN   NL  molinya01  15000000
26302    2016    SLN   NL  molinya01  14200000