In [2]:
import pandas as pd

In [12]:
player_data = pd.read_csv('data/People.csv')

In [66]:
def get_playerid(last_name, first_name=None):
    if first_name:
        playerid = player_data.loc[(player_data['nameLast'] == last_name) & (player_data['nameFirst'] == first_name)]['playerID']
    else:
        playerid = player_data.loc[(player_data['nameLast'] == last_name)]['playerID']
    return playerid

In [63]:
appearance_data = pd.read_csv('data/Appearances.csv')

In [74]:
k = get_playerid('Jansen', 'Kenley')
appearance_data.loc[appearance_data['playerID'].isin(k)]

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
93399,2010,LAN,NL,janseke01,26,0.0,26,25.0,25,0,...,0,0,0,0,0,0,0,0.0,1.0,0.0
94771,2011,LAN,NL,janseke01,51,0.0,48,51.0,51,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
96176,2012,LAN,NL,janseke01,65,0.0,64,65.0,65,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
97589,2013,LAN,NL,janseke01,75,0.0,70,75.0,75,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
98999,2014,LAN,NL,janseke01,68,0.0,64,68.0,68,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
100461,2015,LAN,NL,janseke01,54,0.0,51,54.0,54,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
101931,2016,LAN,NL,janseke01,72,0.0,68,72.0,72,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
103434,2017,LAN,NL,janseke01,65,0.0,59,65.0,65,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
104943,2018,LAN,NL,janseke01,69,0.0,65,69.0,69,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
106499,2019,LAN,NL,janseke01,62,0.0,59,62.0,62,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0

In [75]:
fielding_data = pd.read_csv('data/Fielding.csv')

In [11]:
pitching_data = pd.read_csv('data/Pitching.csv')
pitching_data_recent = pitching_data[pitching_data['yearID'] >= 2000]

In [62]:
player_data.loc[(player_data['nameLast'] == 'Sale')]

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
15679,salech01,1989.0,3.0,30.0,USA,FL,Lakeland,NaN,NaN,NaN,...,Sale,Christopher,180.0,78.0,L,L,2010-08-06,2019-08-13,salec001,salech01
15680,salefr01,1902.0,5.0,2.0,USA,SC,Chester,1956.0,5.0,27.0,...,Sale,Frederick Link,160.0,69.0,R,R,1924-06-30,1924-06-30,salef101,salefr01

In [60]:
k = get_playerid('Sale')
pitching_data.loc[pitching_data['playerID'].isin(k)]

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
7585,salefr01,1924,1,PIT,NL,0,0,1,0,0,...,NaN,0,0.0,0,4.0,1,0,NaN,NaN,NaN
40293,salech01,2010,1,CHA,AL,2,1,21,0,0,...,0.0,1,0.0,0,92.0,8,5,1.0,0.0,3.0
40995,salech01,2011,1,CHA,AL,2,2,58,0,0,...,3.0,2,2.0,0,288.0,17,22,3.0,0.0,5.0
41723,salech01,2012,1,CHA,AL,17,8,30,29,1,...,5.0,6,6.0,0,772.0,0,66,1.0,3.0,20.0
42457,salech01,2013,1,CHA,AL,11,14,30,30,4,...,2.0,8,14.0,1,866.0,0,81,2.0,4.0,17.0
43190,salech01,2014,1,CHA,AL,12,4,26,26,2,...,2.0,3,11.0,0,685.0,0,48,2.0,3.0,13.0
44003,salech01,2015,1,CHA,AL,13,11,31,31,1,...,0.0,7,13.0,0,854.0,0,88,2.0,3.0,13.0
44808,salech01,2016,1,CHA,AL,17,10,32,32,6,...,2.0,2,17.0,0,907.0,0,88,5.0,3.0,16.0
45634,salech01,2017,1,BOS,AL,17,8,32,32,1,...,0.0,3,8.0,0,851.0,0,73,2.0,4.0,11.0
46518,salech01,2018,1,BOS,AL,12,4,27,27,0,...,0.0,4,14.0,0,617.0,0,39,0.0,4.0,4.0
47428,salech01,2019,1,BOS,AL,6,11,25,25,1,...,0.0,2,13.0,0,612.0,0,80,2.0,4.0,7.0